.downtime-container {
    padding-top: 20vh;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 8vh;
    background-image: url(../../images/card-paper-texture.png);
    background-size: cover;
    background-repeat: no-repeat;


}

.downtime-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 100%;
    max-height: 100%;
}
.downtime-card {
    position: relative;
    overflow: hidden;
    border: 1px solid #e0dcdc;
    width: 412px;
    height: 300px;
    margin-top: 3%;
    }


.downtime-card-bg {
    width: 100%;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: transform .4s ease-in-out; 
}

.downtime-card-bg::before { 
    content:"";
    position:absolute; top:0;right:0;bottom:0;left:0;
    background:inherit;
    transition:inherit;
  }
  .downtime-card-bg:hover::before { 
    transform: scale(1.1);
  }
  
.downtime-card-bg.carousing{
    background-image: url(../../images/downtime/carousing.jpg);
}

.downtime-card-bg.crafting{
    background-image: url(../../images/downtime/crafting_by_kim_sung_hwan.png);
}
.downtime-card-bg.crime{
    background-image: url(../../images/downtime/crime.png);
}
.downtime-card-bg.gambling{
    background-image: url(../../images/downtime/gambling.png);
}
.downtime-card-bg.monster-hunting{
    background-image: url(../../images/downtime/hunting.png);
}

.downtime-card-bg.pit-fighting{
    background-image: url(../../images/downtime/pit-fighting.png);
}
.downtime-card-bg.relaxation{
    background-image: url(../../images/downtime/relaxing.png);
}
.downtime-card-bg.religious-service{
    background-image: url(../../images/downtime/religious-service.png);
}
.downtime-card-bg.research{
    background-image: url(../../images/downtime/research.png);
}
.downtime-card-bg.scribing{
    background-image: url(../../images/downtime/scribing.png);
}
.downtime-card-bg.selling-magic-items{
    background-image: url(../../images/downtime/selling.png);
}
.downtime-card-bg.spellwrought-tattoos{
    background-image: url(../../images/downtime/marcin-kulesza-fin-tattoed-fighter.jpg);
}
.downtime-card-bg.training-animals{
    background-image: url(../../images/downtime/taming.png);
}
.downtime-card-bg.training{
    background-image: url(../../images/downtime/training.png);
}
.downtime-card-bg.work{
    background-image: url(../../images/downtime/work.png);
}
.background-image.carousing{
    background-image: url(../../images/downtime/carousing.jpg);
}
.background-image.crafting{
    background-image: url(../../images/downtime/crafting_by_kim_sung_hwan.png);
}
.background-image.crime{
    background-image: url(../../images/downtime/crime.png);
}
.background-image.gambling{
    background-image: url(../../images/downtime/gambling.png);
}
.background-image.monster-hunting{
    background-image: url(../../images/downtime/hunting.png);
}
.background-image.pit-fighting{
    background-image: url(../../images/downtime/pit-fighting.png);
}
.background-image.relaxation{
    background-image: url(../../images/downtime/relaxing.png);
}
.background-image.religious-service{
    background-image: url(../../images/downtime/religious-service.png);
}
.background-image.research{
    background-image: url(../../images/downtime/research.png);
}
.background-image.scribing{
    background-image: url(../../images/downtime/scribing.png);
}
.background-image.selling-magic-items{
    background-image: url(../../images/downtime/selling.png);
}
.background-image.spellwrought-tattoos{
    background-image: url(../../images/downtime/marcin-kulesza-fin-tattoed-fighter.jpg);
}
.background-image.training-animals{
    background-image: url(../../images/downtime/taming.png);
}
.background-image.training{
    background-image: url(../../images/downtime/training.png);
}
.background-image.work{
    background-image: url(../../images/downtime/work.png);
}



.downtime-header {
    background-color: rgba(28,29,30,.8);
    position: absolute;
    top: 0;
    width: 100%;
    
}

.downtime-header h2 {
    opacity: .8;
    color: #ffffffdb;
    font-family: Roboto,Helvetica,sans-serif;
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.downtime-card:hover .downtime-header h2 {
    color: white; /* Text turns white on hover */
}

@media (max-width: 768px) {

    .downtime-container{
        padding-top: 10vh;
        margin-left: 5vw;
        margin-right: 5vw;
    
    }

    .downtime-card {
        margin-top: 10%;
    }
}
